<h1>Portfolio items</h1>

<% @portfolio_items.each do |portfoilo_items| %>
  <p><%= portfoilo_items.title %></p>
  <p><%= portfoilo_items.subtitle %></p>
  <p><%= portfoilo_items.body %></p>
  <%=image_tag portfoilo_items.thumb_image %>
<% end %>
