<div class="app-card-container">
  <div class="card">
    <h1>Pages#about</h1>
      <div class="row margin-for-contact-about">
        <div class="col-md-4">
          <!-- https://i.screenshot.net/p/20nrlho?80d57823a8aec33806897b6c0e331a31 -->
          <%= image_tag "leanne_3", width: 300, alt: "Portfolio Image", class: 'portfolio-img' %>
        </div>

        <div class="col-md-8">
          <p>Find me in app/views/pages/about.html.erb</p>

          <p>
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controler="jobHistory"
            >
              Job History
            </button>

            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#education"
              aria-expanded="false"
              aria-controler="education"
            >
              Education
            </button>
          </p>
          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-block">
                <h5>Novatec: International Sales Representative</h5>
              </div>
              <div class="card card-block">
                <h5>Bridgewell: Social Analyst</h5>
              </div>
            </div>
            <div class="collapse" id="education">
              <div class="card card-block">
                <h5>Soochow University: Business Administration</h5>
              </div>
            </div>
          </p>
        </div>
      </div>
  </div>
</div>
