<div class="app-card-container">
  <div class="card">
    <h1>Pages#about</h1>
      <div class="row margin-for-contact-about">
        <div class="col-md-4">
          <!-- https://i.screenshot.net/p/20nrlho?80d57823a8aec33806897b6c0e331a31 -->
          <%= image_tag "leanne_3", width: 300, alt: "Portfolio Image", class: 'portfolio-img' %>
        </div>

        <div class="col-md-8">
          <p>Find me in app/views/pages/about.html.erb</p>
        </div>
      </div>
  </div>
</div>



