<div class="app-card-container">
  <div class="card">
    <h1>Pages#contact</h1>
    <p>Find me in app/views/pages/contact.html.erb</p>

    <div class="row margin-for-contact-about">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>No.365, Songjiang Rd., Zhongshan Dist., Taipei 104, Taiwan</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "0911123123" %></p>

        <h3>E-mail</h3>

        <p><a href="mailto:a30745m@gmail.com?subject=Portfolio Contact" "email me">a30745m@gmail.com</a></p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.1167435347625!2d121.53136331485766!3d25.06403198395828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a959b7b88d59%3A0x2bc179eb05cf6547!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDmnb7msZ_ot68zNjXomZ8!5e0!3m2!1szh-TW!2stw!4v1527508041864" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>